.container-confirmation {
    position: absolute;
    height: 80%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    flex-direction: column;
    gap: 25px;
    .confirmation {
        display: flex;
        flex-direction: column;
        background-color: $main-color-transparent;
        border-radius: 20px;
        padding: 50px;
        text-align: center;
        color: white;
    }

    .button-close {
        background-color: $main-color-transparent;
        padding: 10px 20px;
        border-radius: 20px;
        cursor: pointer;
        color: white;
        transition: transform ease-in 0.2s;

        &:hover {
            background-color: $main-color;
            transform: scale(1.1);
        }
    }

    .button-confirmation {
        background-color: $main-color-transparent;
        padding: 10px 20px;
        border-radius: 20px;
        cursor: pointer;
        color: white;
        transition: transform ease-in 0.2s;

        &:hover {
            background-color: $main-color;
            transform: scale(1.1);
        }
    }
}