header {
    padding: 20px 50px;
    background-color: $main-color;
    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .title {
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            gap: 20px
            ;
            .logo {
                width: 65px;
            }
        }
        .link {
            gap: 20px;
            display: flex;
            a {
                text-decoration: none;
                color: white;
            }
            .active {
                text-decoration: underline;
            }
        }
    }
}