*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: $font;
}


body {
    background-color: $secondary-color;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to top, $main-color, #87B539);
    height: 100vh;
}

label {
    display: block;
    margin-top: 1rem;
    font-family: $font;
    font-weight: 500;
}

input {
    border: none;
    border-bottom: 1px solid;
    padding: 5px;
    width: 99%;
    font-family: $font;
    font-weight: 200;

    &:focus {
        outline: none;
    }
}



.input-error {
    border-bottom: 1px solid red;
}

.error-message {
    color: red;
    font-size: 12px;
    display: flex;
    justify-content: center;
}

#department {
    width: 100%;
}

#state {
    width: 100%;
}

#birthday {
    text-align: center;
}

#start-date {
    text-align: center;
}


select {
    border-radius: 20px;
    border: 1px solid black;
    padding: 5px;
    max-height: 50px;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

.information-employee {
    width: 40%;
}

.address {
    margin-top: 10px;
    width: 41%;
    border: 2px solid $main-color;
    position: relative;
    background: linear-gradient(to bottom, $main-color, #87B539);
    padding: 0 20px;
    
    legend {
        position: absolute;
        top: -20px;
    }
}


#create-employee {
    display: flex;
    flex-direction: column;
    background-color: #FFFF;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid black;
    row-gap: 25px;
    width: 50%;
    margin-top: 60px;

    .title-create {
        text-align: center;
        font-family: $font;
        font-weight: 800;
    }

    .information-address-employee {
        display: flex;
        justify-content: space-around;
    }

    .button-submit {
        display: flex;
        justify-content: center;

        button {
            border-radius: 20px;
            border: 1px solid;
            padding: 7px 35px;
            background-color: #FFFF;
            transition: transform 0.3s ease-in;

            &:hover {
                background-color: $main-color;
                color: white;
                transform: scale(1.15);
            }
        }
    }
}

.button-delete {
    padding: 3px;
    border-radius: 20px;
    border: none;
    font-size: 12px;
    width: 100px;
    transition:transform 0.3s ease ;



    &:hover {
        cursor: pointer;
        background-color: $main-color;
        color: white;
        transform: scale(1.1);
    }
}